body {
    margin: 0;
    background-color: lightgrey;
}

#banner {
    margin: 0;
    background: #FFC300;
    width: 100%;
    text-align: center;
    font-size: 13px;
    height: 90;
    position: relative;
}

#logo {
  display: inline-block;
  clear: left;
  margin: 0;

}
#navbar {
    margin-top: auto;
    width: 100%;
    min-height: inherit;
    height: inherit;
    display: inline-block;
    background: #303030;
    color:white;
    font-size: 13px;
    vertical-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    vertical-align: center;
    overflow: hidden;
    background-color: #303030;
    color: white;
}

li {
  float: left;
  vertical-align: center;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
button {
  margin: 0;
  background-color: #303030;
  color: white;
  font-size: 29px;
  float: right;
    
}


#info {
  text-align: center;
  font-size: 40px;
  color: #2F98EC;
}

#free {
  width: 20%;
  height: 300px;
  display:inline-block;
  vertical-align: top;
  padding:10px;
  margin-left: 175px;
  background-color: white;
}
#full {
  width: 20%;
  height: 300px;
  display:inline-block;
  vertical-align: top;
  padding: 10px; 
  background-color: white;
}
#part {
  width: 20%;
  height: 300px;
  display:inline-block;
  vertical-align: top;
  padding:10px;
  background-color: white;
 }
h2 {
  font-size: 30px;
}
#act {
  margin-bottom: 0;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 22px;

}
